extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/reg' method="post")
    div
      label(for="nama") Nama
      input(type="text" placeholder="Nama" name="nama" required)
      label(for="alamat") Alamat
      input(type="text" placeholder="Alamat" name="alamat" required)
      label(for="email") email
      button(action='submit') submit 
