extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/reg' method="post")
    div.container
      label(for="nama") Nama
      input(type="text" placeholder="Nama" name="nama" required)
      br
      label(for="alamat") Alamat
      label(for="email") email
      input(type="text" placeholder="Email" name="email" required)
      br
      button(action='submit') submit 
      
  p nama: #{nama}, email: #{email}
